extends ../layout/layout
block content
  ul.categories
      each category in categories
          li(class="#{category.showcase}  #{category.showcasePosition}")
              a(href="/category/#{category.seo}").thumbnail
                  img(src="#{category.image}", alt="")
                  | #{category.name}
  ul.thumbnails
      each product in featured
        li.span3
          a(href="/product/#{product.seo}").thumbnail
            img(src="#{product.image}", alt="")
            h6 #{product.name}
              p.pull-right #{product.cost}
                  span.rouble i
block scripts
  
  