extend ../layout/layout
block content
  h2 #{locals.title}
  hr
  ul.thumbnails
      each product in products
        li.span3
          a(href="/product/#{product.seo}").thumbnail
            img(src="#{product.image}", alt="")
            h6 #{product.name}
              p.pull-right
                del P
                p.pull-right #{product.cost}
block scripts
  
  