extend layout
block content
    h2 #{product.name}
    hr
    .row
      .span6
        img(src= "#{product.image}")
      .span6
        hr
        p Количество:  #{product.quantity}
        p Модель:  #{product.model}
        hr
        h3.pull-left
              h3 #{product.cost}
                span.rouble i
        hr
        .spiner
            i.glyphicon.glyphicon-minus
            input.count(value="1" min="0")
            i.glyphicon.glyphicon-plus

        a(addId='#{product.id}').btn.btn-primary.btn-large.pull-right Добавить в корзину
